__pycache__/
swift/
swift/__pycache__/
swift/*/__pycache__/
dataset/Streamo-Instruct-465K/
dataset/stream/*.json
*.egg-info
labels*/
samples*/
frames/
*.tar.gz
output/
demo/*.mp4
stream_*/
*.mp4
*.webm
test_sample_video.jsonl